{% extends 'base.html' %} 
{% load static %}
{% block content %}

<main class="container">
  <!-- Pagina de Inicio
  <section class="card card-body">
    <h1 class="display-1 text-center">Padron Nominal App</h1>
    <p>Padron Gestante</p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin"> Ingresar </a>
      <a class="btn btn-dark" href="/signup"> Crear Usuario </a>
    </div>
  </section>
  -->
  <div class="container px-4 px-lg-5">
    <!-- Heading Row   https://dummyimage.com/900x400/dee2e6/6c757d.jpg -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/banner_sistema_personal.png' %}" alt="..."/>
      </div>
      <div class="col-lg-5">
        <h2 class="font-weight-light">Sistema de Gestión de Asistencia</h2>
        <p class="text-justify">
          Es una herramienta de apoyo al proceso administrativo que tiene como objetivo registrar el debido cumplimiento de los turnos asignados a cada colaborador de manera digital.
        </p>
        <a class="btn btn-primary" href="/asistencia/" target="_blank">Consultar Asistencia</a>
      </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Papeleta de salida</h2>
            <p class="card-text">
              Solicita tu papeleta de salida
            </p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm" href="/signin" target="_blank" >Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Solicitud de Permiso</h2>
            <p class="card-text">
              Solicita tu solicitud de permiso
            </p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm" href="/signin">Ingresar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Manual de Uso</h2>
            <p class="card-text">
              Puede revisar Manual 
              Contacto
            </p>
          </div>
          <div class="card-footer text-center">
            <a class="btn btn-primary btn-sm" href="/signin">Ingresar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer>
  {% include '_footer.html' %}
</footer>
{% endblock %}

