{% extends 'base.html' %} 
{% load static %}
{% block content %}

<main class="container">
  <div class="container px-4 px-lg-1">
    <!-- Primera fila de cabecera -->
    <div class="row gx-4 gx-lg-5 align-items-center my-3">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/banner_sistema_personal.png' %}" alt="..."/>
      </div>
      <div class="col-lg-5">
        <h2 class="font-weight-light">Sistema de Gestión de Asistencia</h2>
        <p class="text-justify">
          Es una herramienta de apoyo al proceso administrativo que tiene como objetivo registrar el debido cumplimiento de los turnos asignados a cada colaborador de manera digital.
        </p>
        {% if perms.filiacion.view_papeletahora and  user.is_authenticated %}
        <a class="btn btn-primary" href="/asistencia/" target="_blank"><i class="fas fa-search"></i> Consultar Asistencia</a>
        {% endif %}
      </div>
    </div>
    <!-- Fin de cabecera -->
    <!-- Segunda Fila -->
    <div class="row gx-4 gx-lg-3">
      <!-- Pepeleta Horas -->
      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">PAPELETA DE SALIDA</h5>
            <p class="card-text">Modulo de papeleta de autorizacion de salida <span style="color:red;">(papeleta pequeña)</span></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Generar tu papeleta
              <a class="btn btn-primary btn-sm" href="/papeletas_horas"><i class="fas fa-hand-point-right"></i>  Solicitar</a>  
            </li>
            {% if perms.filiacion.view_papeletahora and  user.is_authenticated %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorización de Jefe Inmediato 
              <a class="btn btn-warning btn-sm" href="/bandeja_jefe"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de RRHH 
              <a class="btn btn-success btn-sm" href="/bandeja_rrhh"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_horario %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de Directores 
              <a class="btn btn-secondary btn-sm" href="/bandeja_directores"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Papeleta Dias -->
      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">PAPELETA DE <strong>PERMISO</strong></h5>
            <p class="card-text">Modulo de papeleta de autorizacion de permiso <span style="color:red;">(papeleta grande)</span></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Generar tu papeleta
              <a class="btn btn-primary btn-sm" href="/papeletas_dias"><i class="fas fa-hand-point-right"></i> Solicitar</a>  
            </li>
            {% if perms.filiacion.view_papeletahora %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de Jefe Inmediato
              <a class="btn btn-warning btn-sm" href="/bandeja_jefe_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de RRHH 
              <a class="btn btn-success btn-sm" href="/bandeja_rrhh_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_horario %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de Directores 
              <a class="btn btn-secondary btn-sm" href="/bandeja_directores_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Reportes -->
      <div class="col-md-4 mb-2">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">GESTION <strong>PAPELETAS</strong></h5>
            <p class="card-text">Modulo de gestión de papeletas de salida, permisos y reportes</p>
          </div>
          <ul class="list-group list-group-flush">
            {% if perms.filiacion.view_tardanza %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Cierre de papeletas 
              <a class="btn btn-warning btn-sm" href="/bandeja_vigilante"><i class="fas fa-eye"></i> Validar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_filiacion %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Reporte hoja diario 
              <a class="btn btn-primary btn-sm" href="/rpt_hoja_diario"><i class="fas fa-file-export"></i> Procesar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_filiacion %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Reporte por persona
              <div class="btn-group btn-sm" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fas fa-file-export"></i> Procesar
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <li><a class="dropdown-item" href="/rpt_personal_hora">Papeleta de Salida</a></li>
                  <li><a class="dropdown-item" href="/rpt_personal_dia">Papeleta de Permiso</a></li>
                </ul>
              </div>
            </li>
            {% endif %}
            {% if perms.filiacion.view_filiacion %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Reporte por oficina 
              <a class="btn btn-primary btn-sm" href="/rpt_oficina"><i class="fas fa-file-export"></i> Procesar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Fin del segunda fila -->
    <!-- tercera fila -->
    <div class="row gx-4 gx-lg-3">
      <div class="col-md-4 mb-3">
      </div>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">TABLERO DE <strong>GESTION</strong></h5>
            <p class="card-text">Utilitarios y Estadisticas</span></p>
          </div>
          <ul class="list-group list-group-flush">
            {% if perms.filiacion.view_papeletahora %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Tablero de gestion
              <a class="btn btn-success btn-sm" href="dashboard_principal"><i class="fas fa-user-check"></i> Ver</a>  
            </li>
            {% endif %}
            <!-- 
            {% if perms.filiacion.view_papeletahora %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Busqueda papeleta
              <a class="btn btn-secondary btn-sm" href="/bandeja_jefe_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Actualizacion Personal 
              <a class="btn btn-secondary btn-sm" href="/bandeja_rrhh_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            -->
          </ul>
        </div>
      </div>
      <div class="col-md-4 mb-3">
      </div>
    </div>
     <!-- Fin de tercera fila -->
  </div>
</main>

{% endblock %}

