{% extends 'base.html' %} 
{% load static %}
{% block content %}

<main class="container">
  <!-- Pagina de Inicio
  <section class="card card-body">
    <h1 class="display-1 text-center">Padron Nominal App</h1>
    <p>Padron Gestante</p>

    <div class="text-center">
      <a class="btn btn-secondary" href="/signin"> Ingresar </a>
      <a class="btn btn-dark" href="/signup"> Crear Usuario </a>
    </div>
  </section>
  -->
  <div class="container px-4 px-lg-5">
    <!-- Heading Row   https://dummyimage.com/900x400/dee2e6/6c757d.jpg -->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/banner_sistema_personal.png' %}" alt="..."/>
      </div>
      <div class="col-lg-5">
        <h2 class="font-weight-light">Sistema de Gestión de Asistencia</h2>
        <p class="text-justify">
          Es una herramienta de apoyo al proceso administrativo que tiene como objetivo registrar el debido cumplimiento de los turnos asignados a cada colaborador de manera digital.
        </p>
        <a class="btn btn-primary" href="/asistencia/" target="_blank"><i class="fas fa-search"></i> Consultar Asistencia</a>
      </div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
      <!-- Pepeleta Horas -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">PAPELETA DE SALIDA</h5>
            <p class="card-text">Modulo de gestión de papeleta de autorizacion de salida</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Generar tu papeleta
              <a class="btn btn-primary btn-sm" href="/papeletas_horas"><i class="fas fa-hand-point-right"></i>  Solicitar</a>  
            </li>
            {% if perms.filiacion.view_papeletahora and  user.is_authenticated %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorización de Jefe Inmediato 
              <a class="btn btn-warning btn-sm" href="/bandeja_jefe"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de RRHH 
              <a class="btn btn-success btn-sm" href="/bandeja_rrhh"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Papeleta Dias -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">PAPELETA DE PERMISO</h5>
            <p class="card-text">Modulo de gestión de papeleta de autorizacion de permiso</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">Generar tu papeleta
              <a class="btn btn-primary btn-sm" href="/papeletas_dias"><i class="fas fa-hand-point-right"></i> Solicitar</a>  
            </li>
            {% if perms.filiacion.view_papeletahora %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de Jefe Inmediato
              <a class="btn btn-warning btn-sm" href="/bandeja_jefe_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Autorizacion de RRHH 
              <a class="btn btn-success btn-sm" href="/bandeja_rrhh_dia"><i class="fas fa-user-check"></i> Autorizar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Video tutorial -->
      <div class="col-md-4 mb-5">
        <div class="card">
          <div class="card-body bg-light">
            <h5 class="card-title">GESTION PAPELETAS</h5>
            <p class="card-text">Modulo de gestión de papeletas de salida, permisos y reportes</p>
          </div>
          <ul class="list-group list-group-flush">
            {% if perms.filiacion.view_tardanza %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Cierre de papeletas 
              <a class="btn btn-warning btn-sm" href="/bandeja_vigilante"><i class="fas fa-eye"></i> Validar</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Permisos, faltas y tardanzas 
              <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-file-export"></i> Reporte</a>
            </li>
            {% endif %}
            {% if perms.filiacion.view_papeletadia %}
            <li class="list-group-item d-flex justify-content-between align-items-center">Retorno de personal 
              <a class="btn btn-primary btn-sm" href="#"><i class="fas fa-file-export"></i> Reporte</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-5">
      </div>
      <div class="col-md-4 mb-5">
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </br>
      </div>
      <div class="col-md-4 mb-5">
      </div>
    </div>
  </div>
</main>

<footer>
  {% include '_footer.html' %}
</footer>
{% endblock %}

