{% extends 'base.html' %} 
{% block content %}
{% load static %}

{% block js%}
<script>
  function mostrarMensaje() {
    Swal.fire({
      icon: 'success',
      title: 'Actualización exitosa',
      showConfirmButton: false,
      timer: 9000
    });
  }
</script>

<script>
  function mostrarInput() {
    var select = document.getElementById("nuevo_estado");
    var input = document.getElementById("miInput");

    if (select.value === "2") {
      input.style.display = "block";
    } else {
      input.style.display = "none";
    }
  }
</script>
{% endblock %}
<!---------------------->
<main class="container">
  <div class="display-1 text-center py-3">
    <h3><span style="color:#D37506;">MODULO DE RECURSOS HUMANOS</span>
      <strong> - BANDEJA DE PAPELETA DE SALIDA</strong>
    </h3>
  </div>  
  <!-- BUSCADOR FECHA-->
  <section class = "card card-body shadow mb-2">
      <form method="GET" enctype="multipart/form-data">      
        <div class = "form row">
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label for="anio">Fecha de Inicio:</label>
            <input class="form-control form-select-sm" type="date" name="fecha_inicio" id="fecha_inicio">
          </div>  
          <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="form-inline" for="mes">Fecha de Fin:</label>
            <input class="form-control form-select-sm" type="date" name="fecha_fin" id="fecha_fin">
          </div>  
          <div class="col-sm-12 col-md-6 col-lg-2">
            <br>
            <button type="submit" class="btn btn-warning btn-sm"><i class="fas fa-search"></i> Buscar</button>
          </div>
        </div>
      </form>
  </section>
  <!-- BUSCADOR ESTADOS-->
    <div class="row">
      <div class="col-md-6">
        <section class= "card card-body shadow mb-2">
          <form method="GET" enctype="multipart/form-data">      
                  <div class = "form-group row col-md-6">
                  <!-- Estado VB Jefe -->
                    <div class="form-group col-md-6">
                      <label class="form-inline" for="estado">Estado Papeleta:</label>
                      <select class="form-select form-select-sm" aria-label="estado" name="estado" id="estado">
                        <option value="0" {% if request.GET.estado_papeleta_dia == '0' %} selected {% endif %}>Enviados</option>
                        <option value="1" {% if request.GET.estado_papeleta_dia == '2' %} selected {% endif %}>Aprobados</option>
                        <option value="2" {% if request.GET.estado_papeleta_dia == '1' %} selected {% endif %}>Proceso</option>
                        <option value="3" {% if request.GET.estado_papeleta_dia == '3' %} selected {% endif %}>Anulados</option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <br>
                      <button type="submit" class="btn btn-secondary btn-sm form-inline"><i class="fas fa-filter"></i> Filtar</button>
                    </div>
                  </div>
          </form>
        </section>
      </div>
      <div class="col-md-6">
        <section class= "card card-body shadow mb-2">
          <form method="GET" enctype="multipart/form-data">      
              <div class = "form-group row col-md-6">
                <!-- Estado RRHH  -->
                <div class="form-group col-md-6">
                <label class="form-inline" for="estado_jefe">VB Jefe:</label>
                <select class="form-select form-select-sm" aria-label="estado_jefe" name="estado_jefe" id="estado_jefe">
                  <option value="1" {% if request.GET.estado_papeleta_jefe == '1' %} selected {% endif %}>Validado</option>
                  <option value="0" {% if request.GET.estado_papeleta_jefe == '0' %} selected {% endif %}>No Validado</option>
                  <option value="2" {% if request.GET.estado_papeleta_jefe == '2' %} selected {% endif %}>Anulado</option>
                </select>
                </div>
                <div class="form-group col-md-6">
                <br>
                <button type="submit" class="btn btn-secondary btn-sm"><i class="fas fa-filter"></i> Filtar</button>
                </div> 
              </div>
          </form>
        </section>
      </div>
    </div>
<!-- Estado RRHH  -->

  <!-- DETALLE -->
  <section class="card card-body shadow mb-4">
    <div class="row">
      <div class="col-sm-12 col-md-6 py-2">
      </div>
      <div class="col-sm-12 col-md-6 py-2" style="text-align: right;">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-success btn-sm" onclick="location.reload()"><i class="fas fa-sync"></i> Actualizar</button>  
        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="table-responsive">
        <table id="table_papeleta_hora_rrhh" class="table table-bordered table-hover table-striped">
          <thead class="text-center" style="font-size: 13px;">
            <tr class="text-center">
              <th>Id</th> 
              <th>Nombres y Apellidos</th> 
              <th>Fecha</th> 
              <th>Hora Salida</th> 
              <th>Motivo</th> 
              <th>Fundamentacion</th>
              <th>Lugar destino</th>
              <th>Estado</th> 
              <th>VB. Jefe</th>
              <th>VB. RRHH</th>
              <th>Estado RRHH</th>
            </tr>
          </thead>
          <tbody class="text-center" style="font-size: 14px;" >
            {% for papeleta in papeletas %}
              <tr>
                <td class="text-primary">{{ papeleta.id }}</td>
                <td>{{ papeleta.nombre_completo }}</td>
                <td>{{ papeleta.fecha_papeleta_hora|date:"d/m/Y" }}</td>
                <td>{{ papeleta.hora_salida }}</td>
                <td>{{ papeleta.motivo }}</td>
                <td>{{ papeleta.fundamentacion }}</td>
                <td>{{ papeleta.lugar_destino }}</td>
              
                <!--- ESTADO PAPELETA --->
                {% if papeleta.estado_papeleta_dia == "0" %}
                <td>
                  <span class="badge bg-secondary"> Enviado</span>
                </td>
                {% elif papeleta.estado_papeleta_dia == "1" %}
                <td>
                  <span class="badge bg-success"> Aprobado</span>
                </td>
                {% elif papeleta.estado_papeleta_dia == "2" %}
                <td>
                  <span class="badge bg-warning"> Proceso</span>
                </td>
                {% else %}
                <td>
                  <span class="badge bg-danger"> Anulado</span>
                </td>
                {% endif %}
                <!----------------------->
              
              <!-- Papeleta Jefe -->                
                {% if papeleta.estado_papeleta_jefe == "0" %}
                <td>
                  <span class="badge bg-warning"> No Validado</span>
                </td>
                {% elif papeleta.estado_papeleta_jefe == "1" %}
                <td>
                  <span class="badge bg-success"> Validado</span>
                </td>
                {% else %}
                <td>
                  <span class="badge bg-danger"> Anulado</span>
                </td>
                {% endif %}
              <!-- Fin Papeleta Jefe -->
              
              <!-- vb RRHH -->  
              {% if papeleta.estado_papeleta_rrhh == "1"  %}
              <td>
                <span class="badge bg-success"><i class="fa fa-check"></i></span>
              </td>
              {% elif papeleta.estado_papeleta_rrhh == "2" %}
              <td>
                <span class="badge bg-danger"><i class="fa fa-minus"></i></span>
              </td>
              {% else %} 

                <td>
                  <form method="POST" action="{% url 'actualizar_estado_rrhh' papeleta.id %}">
                    {% csrf_token %}
                    <div class="d-flex text-center">  
                      <div class="d-flex text-center">                    
                      <select class=" form-select form-select-sm " name="nuevo_estado" id='nuevo_estado' onchange="mostrarInput()">
                        <option value="1">Validar</option>
                        <option value="2">Anular</option>
                      </select>
                    </div>
                      &nbsp;
                        <div class="d-flex text-center"> 
                          <input type="text" id="miInput" name="miInput" style="display: none;" placeholder="Ingresar motivo">
                        </div>
                        &nbsp;
                        <div class="d-flex">  
                          <button type="submit" class="btn btn-secondary btn-sm " onclick="mostrarMensaje()">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form> 
                </td> 
              {% endif %}  
                <!-- vb RRHH -->
                {% if papeleta.estado_papeleta_rrhh == "0" %}
                <td>
                  <span class="text-warning">No Validado</span>
                </td>
                {% elif papeleta.estado_papeleta_rrhh == "1" %}
                <td>
                  <span class="text-success"> Validado</span>
                </td>
                {% else %}
                <td>
                  <span class="text-danger"> Anulado</span>
                </td>
                {% endif %}  
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> 
  </section>
</main>

{% endblock %}