{% extends 'base.html' %}

{% block content %}
    
<main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center py-1">
        <h2>SOLICITUD DE PAPELETA DE PERMISO</h2>
      </div>
      <div class="col-md-8 offset-md-2">
        {{ error }}
        <section class="card card-body shadow">
          <form action="/papeletas_dias/create/" method="POST"  enctype="multipart/form-data">
          {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.documento_identidad.label_tag }}
                  {{ form.documento_identidad }}
                </div>
                <div class="form-group">
                  {{ form.nombre_completo.label_tag }}
                  {{ form.nombre_completo }}
                </div>
                <div class="form-group">
                  {{ form.cargo.label_tag }}
                  {{ form.cargo }}
                </div>
              </div>              
              <div class="col-md-6">
                <div class="form-group">
                  {{ form.unidad_organica.label_tag }}
                  {{ form.unidad_organica }}
                </div>
                <div class="form-group">
                  {{ form.condicion_laboral.label_tag }}
                  {{ form.condicion_laboral }}
                </div>
                <div class="form-group">
                  {{ form.regimen_laboral.label_tag }}
                  {{ form.regimen_laboral }}
                </div>      
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                    {{ form.motivo.label_tag }}
                    {{ form.motivo }}
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-4 form-group">
                <div class="form-group">
                    {{ form.fecha_inicio.label_tag }}
                    {{ form.fecha_inicio }}
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="form-group">
                    {{ form.fecha_fin.label_tag }}
                    {{ form.fecha_fin }}
                </div>
              </div>
              <div class="col-md-4 form-group">
                <div class="form-group">
                    {{ form.duracion_dias.label_tag }}
                    {{ form.duracion_dias }}
                    <p>La cantidad de días entre las dos fechas es: <span class="text-danger" id="resultado"></span></p>
                </div>
              </div>
            </div>         
          </br> {{ form.user }} {{ form.anio }} {{ form.mes }} {{ form.dia }} {{ form.fecha_papeleta_dia }} {{ form.estado_papeleta_dia }} {{ form.estado_papeleta_jefe }} 
          {{ form.estado_papeleta_rrhh }} {{ form.estado_final }}
            
          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
          <script>
            function calcularDias() {
              // Obtener las fechas ingresadas por el usuario
              var fecha_inicio = document.getElementById('fecha_inicio').value;
              var fecha_fin = document.getElementById('fecha_fin').value;
              console.log(fecha_inicio);
              console.log(fecha_fin);

              // Calcular la cantidad de días utilizando la función de JavaScript
              var dias = moment(fecha_fin).diff(moment(fecha_inicio), 'days');
              
              // Mostrar el resultado en el HTML
              document.getElementById('resultado').innerHTML = dias;
            }
          </script>
          
            <div class="col-md-6 offset-md-3 text-center py-1 form-group">        
              <button class="btn btn-success btn-lg text-center"><i class="fa fa-save"></i> Grabar</button>
            </div>
          </form>
        </section>
      </div> 
    </div>
  </main>

{% endblock %}