<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Reporte Papeleta Hora</title>
  </head>
  <body>
    <div class="container mt-5 mb-3">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8">
          <div class="card">
            <div class="row">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="30%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="top">
                          <img src="https://raw.githubusercontent.com/veronny/fotos_redes/master/LOGO_JUNIN_2023.jpeg" width="90" />
                        </td>
                      </tr> <!-- TABLE -->
                    </table>
                  </td>
                  <td width="40%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0"> <!-- TABLE -->
                      <tr align="center">
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:600; font-size:15px;" align="center">PAPELETA DE SALIDA N° {{papeleta_hora.id}}</td>
                      </tr>
                    </table>
                  </td>
                  <td width="30%">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0"> <!-- TABLE -->
                      <tr>
                        <td align="right">
                          <img src="https://raw.githubusercontent.com/veronny/fotos_redes/master/LOGO%20DIRESA%20JUN%C3%8DN%202023%20OFICIAL%20HORIZONTAL.png" width="100" />
                        </td>
                      </tr>
                      <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:8px;"  align="right">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="font-family:Verdana, Geneva, sans-serif; font-weight:400; font-size:13px;" align="right">Fecha: {{papeleta_hora.fecha_papeleta_hora}}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
            <!-- CONTENIDO -->
            <hr />
            <div class="table-responsive p-2">
              <table class="table table-borderless">
                <tbody>
                  <tr class="content">
                    <td width="25%" class="font-weight-bold" style="font-size:12px;">
                      <strong>DNI</strong><br />
                      <strong>APELLIDOS Y NOMBRES</strong><br />
                      <strong>CONDICION</strong><br />
                      <strong>OFICINA</strong>
                    </td>
                    <td width="75%" class="font-weight-bold" style="font-size:12px;">
                      {{ papeleta_hora.documento_identidad }}<br />
                      {{ papeleta_hora.nombre_completo }}<br />
                      {{ papeleta_hora.regimen_laboral }}<br />
                      {{ papeleta_hora.unidad_organica }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="products p-2">
              <table class="table table-borderless">
                <tbody>
                  <tr class="content" style="font-size:12px;">
                    <td width="25%"><strong>FECHA</strong></td>
                    <td width="75%"class="text-center">
                      {{ papeleta_hora.fecha_papeleta_hora }}
                    </td>
                  </tr>
                  <tr class="content" style="font-size:12px;">
                    <td width="25%"><strong>HORA</strong></td>
                    <td width="75%" class="text-center">
                      {{ papeleta_hora.hora_salida }}
                    </td>
                  </tr>
                  <tr class="content" style="font-size:12px;">
                    <td width="25%"><strong>MOTIVO</strong></td>
                    <td width="75%" class="text-center">{{ papeleta_hora.motivo }}</td>
                  </tr>
                  <tr class="content" style="font-size:12px;">
                    <td width="25%"><strong>FUNDAMENTACION</strong></td>
                    <td width="75%" class="text-center">
                      {{ papeleta_hora.fundamentacion }}
                    </td>
                  </tr>
                  <tr class="content" style="font-size:12px;">
                    <td width="25%" ><strong>LUGAR</strong></td>
                    <td width="75%" class="text-center">
                      {{ papeleta_hora.lugar_destino }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="products p-2" style="font-size:10px;">
              <table class="table table-borderless">
                <tbody>
                  <tr class="add">
                    <td class="text-center">{{ papeleta_hora.estado_papeleta_dia }}</td>
                    <td class="text-center">{{ papeleta_hora.estado_papeleta_jefe }}</td>
                    <td class="text-center">{{ papeleta_hora.estado_papeleta_rrhh }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:8px;"  align="right">&nbsp;</td>
                  </tr>
                  <tr>
                    <td style="font-family:Verdana, Geneva, sans-serif; font-weight:300; font-size:8px;"  align="right">&nbsp;</td>
                  </tr>
                  <tr class="content" style="font-size:10px;">
                    <td class="text-center">Comisionado</td>
                    <td class="text-center">Jefe de Oficina</td>
                    <td class="text-center">Jefe de RR.HH</td>
                    <td class="text-center">Firma y Sello Autorizado</td>
                    <td class="text-center">Hora de Retorno</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>